<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FledgerCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FledgerCommonMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E3917031B77F5C200F72EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E39170E1B77F5C200F72EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E3917241B77F60D00F72EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E39172E1B77F60D00F72EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E3918ED1B81350800F72EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E3918F71B81350800F72EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
